/allure-results
/node_modules
/.vscode
/temp/*
!/temp/.gitkeep
/dist
/mongo-data

yarn-error.log
coverage
.env
error.log
info.log
globalConfig.json

# stryker temp files
.stryker-tmp
reports/
stryker.log
